 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
 

*{
    box-sizing: border-box;
}   

:root{
    --width-break: 500px;
    --black:#333333;
}
body{
    font-family: 'Caveat', cursive;
    margin: 0;
    color:#333333;
}

nav{
    background-color: rgb(254 240 138);
    text-align:  center;    
    padding-top: 0.5rem;
    border-top-left-radius: 4rem;
    font-family: 'Caveat', cursive;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
textarea{
    box-sizing: border-box;
    display: block;
    width: 65%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: 'Caveat', cursive;
}
button{
    background-color:rgb(254 240 138);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Caveat', cursive;
    font-size: large;   
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

#Output{
    box-sizing: border-box;
    width: 65%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid gray;
    
}

footer{
    font-family: 'Dancing Script', cursive;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color:  rgb(254 240 138);
    text-align: center;
    font-size :larger ;
    border-top-right-radius: 4rem;
     
}
footer p {
    max-width: var(--width-break);
    margin: auto;
}